:root{
    --fuente-principal:"Domine", serif;
    --color-principal: red;
    --color-secundario: white;
}

*{
    margin: 0;
    padding: 0;
}


header{
    background-color: var(--color-secundario);
    width: 100%;
    height: 8rem;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content:space-between;
}


.header__nav{
    width: 45rem;
    height: 50rem;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    flex-direction: row;
}


.header__logo{
    width: 10rem;
    height: 10rem;
    max-width: 100%;
    max-height: 100%;
    margin: 0 5rem;
    cursor: pointer;
    padding-right: 3rem;
}

.header__nav__enlace{
    color:var(--color-principal);
    font-size: 1.5rem;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    font-family: var(--fuente-principal);
    font-size: bold;
}


.header__nav__enlace:hover{
    border-bottom: red 3px solid;
}


/*hero*/

.hero{
    height: 35rem;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: red;
    position:relative;
    background-color: white;
}

.hero__contenido{
    align-items: center;
    height: 40rem;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
    animation: movimiento 30s infinite;
    background-size:100% 100%;
    background-repeat: no-repeat;
}

@keyframes movimiento {
    0%{background-image: url(../img/imagen1_principal.jpg);}
    20%{background-image: url(../img/imagen1.jpg);}
    40%{background-image: url(../img/imagen2_principal.jpg);}
    60%{background-image: url(../img/imagen2_principal.jpg);}
    80%{background-image: url(../img/imagen3_principal.jpg);}
    100%{background-image: url(../img/imagen3.avif);}
}

/*promociones*/

.promociones{
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
}

.promociones__contenido{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    text-align: center;
    height: 40rem;
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    font-family: var(--fuente-principal);
}

.promociones__contenido__img{
    width: 100rem;
    height: 25rem;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 10rem;
}

.promociones__contenido__img:hover{
    transform: scale(1.1);
}


/*Footer*/

footer{
    background-color: brown;
    height: 10rem;
    width: 100%;
}